In [1]:
import numpy as np
import pandas as pd
import io, requests
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.relative_locator import locate_with
import time

C:\Users\10\anaconda3\lib\site-packages\requests\__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.12) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [20]:
cdata = pd.read_csv('Cleaned Data')

In [21]:
cdata.drop(cdata.columns[0], axis=1, inplace= True)

In [30]:
cdata.shape

(30171, 8)

In [25]:
cdata.isna().sum()

name                      3
position                  0
age                       0
origin_club               0
country_origin_club     889
new_club                  0
country_new_club       5387
cost                      0
dtype: int64

In [26]:
c = 0
l = []
for u in cdata.name.isna():
    if u == True:
        l.append(c)
    c+=1

In [28]:
cdata.drop(l,axis=0,inplace=True)

In [188]:
data = pd.read_csv('scraped_data')

In [189]:
data.drop(data.columns[0], axis=1, inplace= True)

In [175]:
counter = data.shape[0]

In [177]:
name = cdata.name[counter+1:2000]
ffx = webdriver.Chrome()

ffx.get("https://www.transfermarkt.com")

bigLi = []


for e in name:

    li = []
    counter+=1
    li.append(e) 
    try:
        # Search with player name
        ffx.find_element(By.CSS_SELECTOR, '[class="tm-header__input--search-field"]').send_keys(e) 


        # press Enter Key
        ffx.find_element(By.CSS_SELECTOR,'[class="tm-header__input--search-send"]').send_keys(Keys.ENTER) 


        # get player profile link like :   " https://www.transfermarkt.com/james-rodriguez/profile/spieler/88103 "
        url = ffx.find_element(By.CSS_SELECTOR,'td[class= "hauptlink"]').find_element(By.TAG_NAME,'a').get_attribute('href')
    except:
        continue
    pages = ['leistungsdatenverein', 'nationalmannschaft', 'marktwertverlauf']

                #leistungsdatenverein --->  stat page
                #nationalmannschaft  --->  natoinal team stat page
                #marktwertverlauf   ---> markert value rank

    for page in pages:                    # switching betweem website pages from change this part  ----/profile/----
        x = url.split('/')
        x[4] = page
        for i in range(len(x)):
            x[i] = x[i] + "/"
        url = ''.join(str(u) for u in x)

        ffx.get(url)



        if page == 'leistungsdatenverein':  
            try:
                stat = ffx.find_element(By.CSS_SELECTOR, 'div[id="yw1"]').find_element(By.TAG_NAME,'tfoot')  
                
                for i, j in zip(stat.find_elements(By.CSS_SELECTOR, 'td[class="zentriert"]'), range(1,7)):
                    li.append(i.get_attribute("innerHTML"))

                for x, j in zip(stat.find_elements(By.CSS_SELECTOR, 'td[class="rechts"]'), range(7,9)):
                    li.insert(j, x.get_attribute("innerHTML"))
            except:
                while len(li) < 9 :
                    li.append('none')


        elif page == 'nationalmannschaft':  
            try:
                stat = ffx.find_element(By.CSS_SELECTOR, 'div[id="yw1"]').find_element(By.TAG_NAME,'tfoot')
                
                for i, j in zip(stat.find_elements(By.CSS_SELECTOR, 'td[class="zentriert"]'), range(9,15)):
                    li.insert(j, i.get_attribute("innerHTML"))

                for x, j in zip(stat.find_elements(By.CSS_SELECTOR, 'td[class="rechts"]'), range(15,17)):
                    li.insert(j, x.get_attribute("innerHTML"))
            except:
                while len(li) < 17 :
                    li.append('none')

        else:
            try:
                for i, j in zip(ffx.find_elements(By.CSS_SELECTOR, 'span[class="quick-fact__content--large"]'), range(17,23)):
                    li.append(i.get_attribute("innerHTML"))
            except :   
                while len(li) < 23 :
                    li.append('none')

    bigLi.append(li)


ffx.quit()

In [178]:
counter

1999

In [179]:
q = 0
for z, i  in zip(bigLi, range(len(bigLi))):
    while len(z) < 22 :
        z.append('none')
    else :
        bigLi[i] = bigLi[i][:22]
    q+=1

In [180]:
df = pd.DataFrame(bigLi, columns=['names', 'apperance', 'goals', 'assists', 'yellow_card', '2nd_ycard', 'red_card', 'drop','min', 'apperance_NT', 'goals_NT', 'assists_NT', 'yellow_card_NT', '2nd_ycard_NT', 'red_card_NT', 'drop NT','min_NT','world_rank', 'league_rank', 'club_rank', 'National_rank', 'position_rank'])

In [181]:
df.drop(['drop', 'drop NT'], axis= 1, inplace=True)

In [182]:
df.replace('-',0, inplace=True)

In [183]:
data = data.append(df, ignore_index=True)

In [184]:
df.to_csv('scraped_data')

In [190]:
data = pd.read_csv('scraped_data')

In [191]:
data.drop(data.columns[0], axis=1, inplace= True)

In [192]:
data.shape

(822, 20)

In [193]:
data.head()

,names,apperance,goals,assists,yellow_card,2nd_ycard,red_card,min,apperance_NT,goals_NT,assists_NT,yellow_card_NT,2nd_ycard_NT,red_card_NT,min_NT,world_rank,league_rank,club_rank,National_rank,position_rank
0,Guy Dayan,391,70,34,43,1,1,26.584',none,none,none,none,none,none,none,none,none,none,none,none
1,Maksim Volodko,277,20,33,36,0,0,17.496',33,2,1,6,0,0,2.250',none,none,none,none,none
2,Mikhail Bashilov,280,10,2,76,2,0,22.533',none,none,none,none,none,none,none,none,none,none,none,none
3,Lorenzo Remedi,241,9,14,55,1,5,16.981',none,none,none,none,none,none,none,none,none,none,none,none
4,Ori Tzaadon,117,4,9,23,0,0,8.448',0,0,0,0,0,0,0,none,none,none,none,none

In [194]:
data.tail()

,names,apperance,goals,assists,yellow_card,2nd_ycard,red_card,min,apperance_NT,goals_NT,assists_NT,yellow_card_NT,2nd_ycard_NT,red_card_NT,min_NT,world_rank,league_rank,club_rank,National_rank,position_rank
817,Matan Schwartz,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none
818,Meidan Cohen,2,0,0,0,0,0,91',none,none,none,none,none,none,none,none,none,none,none,none
819,Giovanni D'Aprile,9,0,0,1,0,0,473',none,none,none,none,none,none,none,none,none,none,none,none
820,Chang-won Choi,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none
821,Josip Ljubic,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none,none